.about {
  background: rgba(244, 245, 247, 1);

  &__container {
    padding-top: 46px;
    padding-bottom: 11px;
    @include for-large {
      display: flex;
      justify-content: space-between;
      padding-top: 75px;
      padding-bottom: 75px;
    }
  }
  &__article {
    font-size: 22px;
    line-height: 130%;
    max-width: 555px;
  }

  &__title {
    font-weight: 700;
    margin-bottom: 20px;
  }

  &__text {
    font-weight: 400;
    margin-bottom: 37px;
    @include for-large {
      margin-bottom: 0;
    }
  }
}
