.header {
  border-bottom: px solid #f3c6bd;
  @include for-large {
    padding-top: 40px;
    background: #f3c6bd;
  }

  &__container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include for-large {
      background: #f3c6bd;
    }
    @include for-large {
      padding-top: 39px;
      background: #f3c6bd;
    }
  }

  &__logo-container {
    display: flex;
    align-items: center;
    height: 64px;
  }

  &__logo {
    margin-right: 13px;
    img {
      width: 48px;
      height: 48px;
      @include for-large {
        width: 60px;
        height: 60px;
      }
    }
  }

  &__label {
    color: $mainColor;
    font-size: 20px;
    line-height: 107%;
    font-weight: 700;
  }
  &__sublabel {
    display: none;
    color: rgba(43, 41, 45, 0.6);
    font-size: 18px;
    line-height: 118%;
    font-weight: 400;
    @include for-large {
      display: block;
    }
  }

  &__hamburger-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 58px;
    min-height: 64px;
    border-left: 1px solid rgba(0, 0, 0, 0.15);
    @include for-large {
      display: none;
    }
  }

  &__hamburger {
    margin-right: -5px;
  }

  &__menu {
    display: none;
    @include for-large {
      display: block;
    }
  }

  &__link {
    font-weight: 400;
    font-size: 18px;
    line-height: 118%;
    color: $mainColor;
    margin-left: 48px;

    &_arrow {
      padding-right: 22px;
      background: url('https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/arrow.png')
        right 8px no-repeat;
    }

    &_checked {
      font-weight: 700;
    }
  }

  &__button {
    margin-left: 56px;
    width: 160px;
    line-height: 48px;
  }
}
