.hiring {
  padding-bottom: 35px;
  @include for-large {
    padding-bottom: 95px;
  }

  &__container {
    text-align: center;
  }

  &__title {
    padding-top: 50px;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: -0.357143px;
    @include for-large {
      padding-top: 106px;
      font-size: 56px;
      line-height: 56px;
      letter-spacing: -0.5px;
    }
  }

  &__text {
    padding-top: 18px;
    font-size: 24px;
    line-height: 34px;
    @include for-large {
      padding-top: 20px;
      max-width: 555px;
      margin: 0 auto;
    }
  }

  &__button {
    display: block;
    margin: 30px 0 39px 0;
    line-height: 48px;
    font-size: 18px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.1), 0px 4px 6px rgba(0, 0, 0, 0.05),
      inset 0px 1px 0px rgba(255, 255, 255, 0.1);
    @include for-large {
      display: inline-block;
      padding: 0px 29px;
      margin-bottom: 110px;
    }
  }
}
.vacancy {
  border: 1px solid rgba(43, 41, 45, 0.2);
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  margin-bottom: 15px;
  @include for-large {
    max-width: 770px;
    margin: 0 auto 15px auto;
    &:first-child {
      background: #3141c5;
      p {
        color: #fff;
      }
    }
  }

  &__info {
    text-align: left;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 19px 20px;
    @include for-large {
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
      width: 100%;
      padding: 26.5px 20px;
    }
  }

  &__position {
    font-weight: 700;
    font-size: 22px;
    line-height: 28px;
    max-width: 199px;
    @include for-large {
      max-width: 100%;
    }
  }

  &__duty {
    margin-top: 25px;
    font-size: 16px;
    line-height: 22px;
    color: rgba(43, 41, 45, 0.6);
    @include for-large {
      margin-top: 0px;
      font-size: 18px;
    }
  }

  &__img-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 50px;
    background: #d5d4d5;
    @include for-large {
      background: transparent;
      margin-left: 43px;
    }
  }

  &__img {
    &_arrow-white {
      display: none;
      @include for-large {
        display: block;
      }
    }
    &_arrow-grey {
      @include for-large {
        display: none;
      }
    }
  }
}
